<h2>Create a new list</h2>

<p>You don't have a grocery list yet! Create one here by giving it a name.</p>

<p>If you just want to join an existing list don't create one here, just get the join link from the owner of that list.</p>

<%= form_for @list, url: { action: 'create' } do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class: 'form-control', placeholder: 'List Name' %>
  </div>
  <%= f.submit 'Create List', class: 'btn btn-primary' %>
<% end %>
