<h3>
  <%= @list.name %>
</h3>

<% if @list.owner == current_user %>
  <%= link_to 'Edit List', edit_list_path(@list), class: 'btn btn-secondary btn-sm' %>
<% end %>

<%= react_component("List", items: @items) %>
